body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: xx-large;
  background-image: url(../imges/big-home-imges/pexels-gradienta-6985045.jpg);
  background-size: 100% ;
}
@media screen and (max-width:550px) {
  body{
    font-size: large;
  }
  #eldadd{
    width: 100vw;
  }
  #summary{
    padding: 1rem;
  }
  #workers{
    display: flex;
    flex-direction: column;
    
  }
  .worker-img{
    width: 100vw;
    height: 50vh;
  }

  .workers-summary{
    padding: 1rem;
  }
}

  @media screen and (min-width:550px) {
    #eldadd{
      width: 50vw;
    }
    #summary{
      padding: 1rem;
    }
    #workers{
      display: flex;
      flex-direction: column;
    }
    .worker-img{
      padding: 4rem;
      width: 50vw;
      height: 50vh;
    }

    .workers-summary{
      padding: 1rem;
    }
    #choo-yan{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    #raul{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .employeename{
      padding: 1rem;
    }
    a:hover{
      color: aliceblue;
    }
    #header{
      padding: 4vw;
    }
  }































  /* #main{
  /* background-image: url(../imges/container_img/imgimgimg.jpg); 
  background-size: 100% 100%;
  padding: 0.5rem;
}
#workers{
  display: flex;
  justify-content: left;
}

#mark{
  background-color: white;
}
#vote-worker{
padding: 4rem;
}
#lottery-table{
  border: 1px solid black;
}
td{
  border-bottom: 1px solid black;
}
#mainContent{
  display: flex;
  flex-direction: column;
  
}
form{
  display: flex;
  flex-direction: column
}
#workersimges{
  display: flex;
  width: 50vw;
  height: 25vh;
  animation: workersimg 8s infinite;
}
@keyframes workersimg {
  15%{background-image: url(../imges/workersimgess/eldad.img);
  background-size: 100% 100%;
  }
  30%{background-image: url(../imges/workersimgess/abaynech.img);
    background-size: 100% 100%}
  45%{background-image: url(../imges/workersimgess/daniel.img);
    background-size: 100% 100%}
  60%{background-image: url(../imges/workersimgess/sol.img);
    background-size: 100% 100%}
  75%{background-image: url(../imges/workersimgess/lior.img);
    background-size: 100% 100%}
  100%{background-image:url(../imges/workersimgess/dawit.img);
    background-size: 100% 100%}
}
#header-workersimg{
  display: flex;
  justify-content: center;
}
#work{
  display: flex;
  justify-content: center;
}
#footer{
  background-color: #e9bcb7;
  background-image: linear-gradient(315deg, #90d5ec 0%, #db8084d2 74%);
} 
}


@media screen and (min-width:550px) {
  /* #workers{
    display: flex;
    justify-content: left;
  }
  
  #mark{
    background-color: white;
  }
  #vote-worker{
  padding: 4rem;
  }
  #lottery-table{
    border: 1px solid black;
  }
  td{
    border-bottom: 1px solid black;
  }
  #mainContent{
    display: flex;
    flex-direction: column;
  
  }
  form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #workersimges{
    width: 25vw;
    height: 25vh;
    animation: workersimg 8s infinite;
  }
  @keyframes workersimg {
    15%{background-image: url(../imges/workersimgess/eldad.img);
    background-size: 100% 100%;
    }
    30%{background-image: url(../imges/workersimgess/abaynech.img);
      background-size: 100% 100%}
    45%{background-image: url(../imges/workersimgess/daniel.img);
      background-size: 100% 100%}
    60%{background-image: url(../imges/workersimgess/sol.img);
      background-size: 100% 100%}
    75%{background-image: url(../imges/workersimgess/lior.img);
      background-size: 100% 100%}
    100%{background-image:url(../imges/workersimgess/dawit.img);
      background-size: 100% 100%}
  }
  #lottery-table{
    border: 1px solid black;
    width: 30vw;
  }
  td{
    border-bottom: 1px solid black;
  
  }
  #main{
    display: flex;
   
  } */
