body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  /* background-image: url(../imges/big-home-imges/pexels-gradienta-6985045.jpg);
  background-size: 100% 100% ; */
}
@media screen and (max-width:550px) {
  #header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding: 4vw;
  }
  #eldadd{
    width: 100vw;
  }
  #summary{
    padding: 1rem;
  }
  .worker-img{
    width: 100vw;
    height: 50vh;
  }

  .workers-summary{
    padding: 1rem;
  }
  #logo {
    height: 5vh;
    width: 45vw;
  }
  .hidden {
    display: none;
  }
  a {
    color: white;
    text-decoration: none;
    line-height: 2rem;
  }
  a:hover{
    opacity: 0.9;
  }
  #footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
  }
  #social_media{
    display: contents;
  }
  #dropdown{
    color: white;
  }
  #addres{
    background-color: black;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
  }
  #credit{
    width: 40vw;
  }
  .my-workers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .headersentences{
    text-decoration: underline;
    display: flex;
    justify-content: center;
  }
}

  @media screen and (min-width:550px) {
    .my-workers{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #nilly_id{
      margin-bottom: 10vh;
    }
    #main{
      display: flex;
      align-items:center;
      justify-content: center;
      flex-wrap: wrap;
    }
    .workers-summary{
      width: 50vw;
      display: flex;
      justify-content: center;
    }
    #header {
      background-color: black;
      display: flex;
      justify-content: space-between;
      padding: 2rem;
      padding: 4vw;
    }
    .headersentences{
      padding: 4vw;
    }
    #dropdown {
      display: none;
    }
    .hidden {
      display: flex;
      justify-content: center;
      gap: 5vw;
    }
    #social_media {
      display: flex;
      justify-content: space-around;
    }
    a {
      color: white;
      text-decoration: none;
      line-height: 2rem;
      border-radius: 5px;
    }
    a:hover{
      color: #e05530;
      opacity: 0.9;
      border: 1px #e05530 solid;
    }
    #logo {
      height: 5vh;
      width: 20vw;
    }
    #eldadd{
      width: 50vw;
      padding-left: 4vw;
      width: 50vw;
      display: flex;
  
    }
    #workers{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .worker-img{
      padding: 4rem;
      width: 50vw;
      height: 50vh;
    }
    .employeename{
      display: flex;
      justify-content: center;
      display: flex;
     justify-content: center;
    }
    .headersentences{
      text-decoration: underline;
      display: flex;
      justify-content: center;
    }
     .workers-summary{
      width: 50vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      justify-content: flex-end;
    }
    .workers-summary:hover{
      color: #e05530;
    }
    #addres{
      background-color: black;
      width: 100vw;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      justify-content: space-between;;
    }
    #credit{
      width: 25vw;
      height: 20vh;
    }
    #footer{
      margin-top: 5vh;
    }
    #founder-span{
      display: flex;
      justify-content: flex-end;
    }
  }































  /* #main{
  /* background-image: url(../imges/container_img/imgimgimg.jpg); 
  background-size: 100% 100%;
  padding: 0.5rem;
}
#workers{
  display: flex;
  justify-content: left;
}

#mark{
  background-color: white;
}
#vote-worker{
padding: 4rem;
}
#lottery-table{
  border: 1px solid black;
}
td{
  border-bottom: 1px solid black;
}
#mainContent{
  display: flex;
  flex-direction: column;
  
}
form{
  display: flex;
  flex-direction: column
}
#workersimges{
  display: flex;
  width: 50vw;
  height: 25vh;
  animation: workersimg 8s infinite;
}
@keyframes workersimg {
  15%{background-image: url(../imges/workersimgess/eldad.img);
  background-size: 100% 100%;
  }
  30%{background-image: url(../imges/workersimgess/abaynech.img);
    background-size: 100% 100%}
  45%{background-image: url(../imges/workersimgess/daniel.img);
    background-size: 100% 100%}
  60%{background-image: url(../imges/workersimgess/sol.img);
    background-size: 100% 100%}
  75%{background-image: url(../imges/workersimgess/lior.img);
    background-size: 100% 100%}
  100%{background-image:url(../imges/workersimgess/dawit.img);
    background-size: 100% 100%}
}
#header-workersimg{
  display: flex;
  justify-content: center;
}
#work{
  display: flex;
  justify-content: center;
}
#footer{
  background-color: #e9bcb7;
  background-image: linear-gradient(315deg, #90d5ec 0%, #db8084d2 74%);
} 
}


@media screen and (min-width:550px) {
  /* #workers{
    display: flex;
    justify-content: left;
  }
  
  #mark{
    background-color: white;
  }
  #vote-worker{
  padding: 4rem;
  }
  #lottery-table{
    border: 1px solid black;
  }
  td{
    border-bottom: 1px solid black;
  }
  #mainContent{
    display: flex;
    flex-direction: column;
  
  }
  form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #workersimges{
    width: 25vw;
    height: 25vh;
    animation: workersimg 8s infinite;
  }
  @keyframes workersimg {
    15%{background-image: url(../imges/workersimgess/eldad.img);
    background-size: 100% 100%;
    }
    30%{background-image: url(../imges/workersimgess/abaynech.img);
      background-size: 100% 100%}
    45%{background-image: url(../imges/workersimgess/daniel.img);
      background-size: 100% 100%}
    60%{background-image: url(../imges/workersimgess/sol.img);
      background-size: 100% 100%}
    75%{background-image: url(../imges/workersimgess/lior.img);
      background-size: 100% 100%}
    100%{background-image:url(../imges/workersimgess/dawit.img);
      background-size: 100% 100%}
  }
  #lottery-table{
    border: 1px solid black;
    width: 30vw;
  }
  td{
    border-bottom: 1px solid black;
  
  }
  #main{
    display: flex;
   
  } */
