body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: xx-large;
  background-image: url(../imges/big-home-imges/pexels-gradienta-6985045.jpg);
  background-size: 100% 100% ;
}
@media screen and (max-width:550px) {
  #header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100vw;
    position: sticky;
    top: 0;
    
  }
  #footer{
    grid-area: footer;
    /* background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #90d5ec 0%, #db8084d2 74%); */
    /* height: 10vh; */
    /* width: 100vw; */
    opacity:0.9 ;
    padding: 1rem;
  }
  * {
    box-sizing: border-box;
  }
  
 
  input[type=text], select, textarea {
    width: 100%;
    /* padding: 12px; */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
  }
  
 

  .container {
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 7vw;
  }


  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
}







@media screen and (min-width:550px) {
  body{
    margin: 0;
    padding: 0;
    font-family: Tahoma ;
  }

  #footer{
    grid-area: footer;
    margin-top:5rem;
    height: 10vh;
    opacity:0.9 ;
    width: 100vw;
    padding: 1rem;
  }
  * {
    box-sizing: border-box;
  }
  
 
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
  }
  
 

  .container {
    background-repeat: no-repeat;
    height: 100vh;
    border-radius: 5px;
    padding: 10vw;
  }


  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
}