body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  /* background-image: url(../imges/big-home-imges/pexels-gradienta-6985045.jpg);
  background-size: 100% 100% ; */
}
@media screen and (max-width:550px) {
  * {
    box-sizing: border-box;
  } */
  #header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100vw;
    position: sticky;
    top: 0;
    
  }
  #clients{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #support{
    color: white;
    border-radius: 1rem;
    background-color:#e05530 ;
  }
  #headers-clients{
    color: #e55300;
  }
  #explain-costumers{
    padding: 5%;
  }
  #footer{
    grid-area: footer;
    opacity:0.9 ;
  }
  /* * {
    box-sizing: border-box;
  } */
  
 
  input[type=text], select, textarea {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
  }
  
 

  .container {
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 7vw;
  }


  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
}







@media screen and (min-width:550px) {
  body{
    margin: 0;
    padding: 0;
  }

  #footer{
    grid-area: footer;
    margin-top:5rem;
    height: 10vh;
    opacity:0.9 ;
    width: 100vw;
    padding: 1rem;
  }
  
 
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
  }

  .container {
    background-repeat: no-repeat;
    height: 100vh;
    border-radius: 5px;
    padding: 10vw;
    border: 5px solid blue;
  }
  #addres{
    margin-top: 20vh;
    background-color: black;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;;
  }
  #credit{
    width: 25vw;
    height: 20vh;
  }
  #footer{
    margin-top: 5vh;
  }

  .addres-header{
    color: white;
  }
  #clients{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #explain-costumers{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55vw;
  }
  #support{
    color: white;
    border-radius: 1rem;
    background-color:#e05530 ;
  }
  #headers-clients{
    color: #e55300;
  }
  #location{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
  }

  #map{
    width: 70vw;
  }
  a {
    color: white;
    text-decoration: none;
    line-height: 2rem;
    border-radius: 5px;
  }
  a:hover{
    color: #e05530;
    opacity: 0.9;
    border: 1px #e05530 solid;
  }
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
}