@media screen and (max-width:550px) {
  #container {
    grid-template-areas:
     'header header header header'
      'main main main main'
       'main main main main'
       'main main main main'
       'footer footer footer footer';
    position: relative;
}
  #main{
    overflow-x: hidden;
    /* background-image: url(../imges/container_img/aboutus.gif.gif); */
  }
  
  #card{
    width: 50vw;
    border: 4px solid black;
    padding: .5rem;
    margin: 1rem;
    flex-grow: 1;
  }
  
  #container_cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #header-tabs{
    background-color: whitesmoke;
    padding: 5rem;
  }
  #btn_del{
    background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #90d5ec 0%, #db8084d2 74%);
  }
}
