#container{
  grid-template-areas:
 'header header header header',
  'main main main main',
  'main main main main',
  'main main main main'
  'footer footer footer footer';
}

#header{
  grid-area: header;
  background-color: rgb(170, 1, 1);

}

#list_pages{
  display: flex;
  flex-direction: column;
  align-items: end;
}

#logo{
  width: 30vw;
}


#sidebar{
  display: none;
}

#main{
  grid-area: main;
}

#footer{
  grid-area: footer;
}