body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-image: url(../imges/big-home-imges/pexels-gradienta-6985045.jpg);
  background-size: 100% 100%;
}
@media screen and (max-width: 550px) {
  #header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding: 4vw;
  }
  #container {
    grid-template-areas: "header header header header", "main main main main",
      "main main main main", "main main main main",
      "main main main main" "footer footer footer footer";
    position: relative;
    height: 100vh;
  }

  #main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #logo {
    height: 15vh;
    width: 30vw;
  }
  #social_media {
    display: flex;
    justify-content: space-around;
  }
  a {
    color: black;
    text-decoration: none;
    line-height: 2rem;
  }
  a:hover{
    opacity: 0.9;
  }
  .img_devices{
    width: 20vw;
    border: 1px grey solid;
    border-radius: 1rem;
  }
  a:hover{
    color: aliceblue;
  }
  .hidden {
    display: none;
  }
  #main{
    height: 100vh;
  }


}

@media screen and (min-width: 550px) {
  #header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding: 4vw;
  }
  #container {
    grid-template-areas: "header header header header", "main main main main",
      "main main main main", "main main main main",
      "main main main main" "footer footer footer footer";
    position: relative;
    height: 100vh;
  }

  #dropdown {
    display: none;
  }
  .hidden {
    display: flex;
    justify-content: center;
    gap: 5vw;
  }
  #body_img {
    display: none;
  }
  #main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #logo {
    height: 10vw;
  }
  #social_media {
    display: flex;
    justify-content: space-around;
  }
  a {
    color: black;
    text-decoration: none;
    line-height: 2rem;
  }
  a:hover{
    opacity: 0.9;
  }
  .img_devices{
    width: 20vw;
    border: 1px grey solid;
    border-radius: 1rem;
  }
  a:hover{
    color: aliceblue;
  }
 
}
