@media screen and (max-width: 550px) {
  body {
    margin: 0;
    padding: 0;
    font-family: Tahoma ;
  }
  #main {
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
  }
  

  #user {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50vw;
    border: 4px solid black;
    padding: 4rem;
    margin: 1rem;
  }
  #members_header {
    padding: 4rem;
    /* background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #90d5ec 0%, #db8084d2 74%); */
  }
  #registration {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    /* background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #90d5ec 0%, #db8084d2 74%); */
  }
  #user{
    border-radius: 5%;
  }
  #footer{
    /* background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #90d5ec 0%, #db8084d2 74%); */
  }
}
