#container{
  display: grid;
  grid-template-areas: 
  'header header header header',
  'sidebar main main main',
  'sidebar main main main'
  'sidebar main main main',
  'footer footer footer footer';
}

#header{
  grid-area: header;
}

#main